

*{
   background-color: #212529;
}  
a:hover{
  background-color:#354f52;
  padding:10px;
  border-radius: 5px;;

  
}

.header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.cafe{
    margin-left: 60px;
    /* font-style: italic; */
    font-size: 40px;
    color: #cca43b;
    font-family: 'Great Vibes', cursive;
    position: relative;
    margin-top: 30px;
    
}
.cafe::before{
  content: '';
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;
  background: #212529;

}
@keyframes showRight {
  100%{
    width:0;
  }
}
.home{
    margin-right: 60px;
    text-decoration: none;
    font-size: 20px;

}

.aboutus{
margin-right: 58px;
text-decoration: none;
font-size: 20px;
color: antiquewhite;
}
.menu{
    margin-right: 56px;
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
}
.events{
    margin-right: 54px;
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
}
.contact{
    margin-right: 52px;
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
}
.reservations{
    margin-right: 50px;
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
}
.title{
    color: white;
    font-size: 90px;
    position: relative;
     display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: -80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}
.title::before{
  content: '';
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
  background: #212529;

}
@keyframes showRight {
  100%{
    width:0;
  }
}
.chat{
  margin-left: 100px;
  width: 450px;
  height: auto;
  /* position: relative; */
  
}
.chat::before{
  content: '';
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay:.5s;
  background: #212529; 

}
.chat img{
  margin-left: 100px;
  width:600px;
  height: auto;
  
}
.title img{
  margin-left: 250px;
  width: 400px;
  height: auto;
}
.main{
     display: flex;
    align-items: center; 
    padding: 0 10%;
    height: 100vh;
    margin-top: -20px;
    
    
}
.button{
    margin-top: 20px;
    color: white;
    background-color: white;
}
/* .second{
    background-color: antiquewhite;
    height:400px;
    width:1300px;
    margin-left: 100px;
    display: flex;
    
} */
.body{
    margin-left: 220px;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    margin-left: 140px;
    margin-right: 140px;
    /* height: 450px; */
    
    
}
.second img{
  height: auto;
  width: 450px;
}
.imagee img {
   /* width:450px; */
   /* height:400px; */
   /* margin-left: 200px; */
   height: auto;
   width: 350px;
}
/* .image{
  height: auto;
  width: 250px;
} */
 
.body{
    background-color: antiquewhite;
    display: inline-block;
    
   
}
.body a{
    margin-top: 100px;
    background-color: antiquewhite;
    color: #881875;
    width: 20px;
    height: 10px;
    text-decoration: none;
    
}

.body p {
background-color: antiquewhite;
font-size: 20px;
margin-right:100px ;
margin-top: -20px;

}
.body h1 {
    background-color: antiquewhite;
    font-size: 50px;
    margin-right:20px ;
    display: inline;
    margin-left: 50px;
    margin-top: -10px;
    display: inline-block;
  }
  .discover{
    font-family:'Great Vibes', cursive;
    color: #cca43b;
    font-size: 200px;
    display: inline;
   
  }
  .about{
    margin-top: 20px;
    color: antiquewhite;
  }
  .more{
    margin-top: 10px;
    background-color: antiquewhite;
  }
  .Discoverourmenu{
   display: flex; 
     justify-content: space-evenly;
    align-items:center; 
    margin-top: 200px;
  }
  .moretext{
    margin-left: 220px;
   
  }
  .text {
    font-family:'Great Vibes', cursive;
    font-size: 80px;
    color: #cca43b;
    display: inline;
  }
  .options{
margin-left: 170px;
margin-right: 150px;
font-size: 20px;
color: antiquewhite;

  }
  .moretext h1{
    font-size: 50px;
    margin-left: 200px;
    color: antiquewhite;
    margin: 0.5px 0px 0px 100px;

  }
  .d1{
    
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        margin-top: 200px;
        margin-top: -10px;
        
    }
    .p1{
        margin-left: 180px;

    }
    .p1 img {
        width: 450px;
        height: auto;
        margin-top: 100px; 
       animation:rotate-on-scroll 20s linear infinite;
       animation-delay: 1
       
      }

      @keyframes rotate-on-scroll {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
    .h1{
        margin-left: 150px;
        
        
    }

  .m1{
    
font-size: 30px;
margin-right:20px ;
font-family:'Great Vibes', cursive;
    font-size: 40px;
    color: #cca43b;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: -50px;
    position: relative;
  }
  .m1::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
    background: #212529;
  
  }
  @keyframes showRight {
    100%{
      width:0;
    }
  }
  .i1{
    color: antiquewhite;
    font-size: 20px;
    margin-right:20px ;
    margin-top: -20px;
    
  } 
  

.d2{
    
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 600px;
    margin-top: -10px;
    
}
.p2{
    margin-left: 180px;

}
.p2 img {
    width: 550px;
    height: auto;
    margin-top: -100px; 
    /* margin-bottom: 300px; */
    animation:rotate-anticlockwise 20s linear infinite;
       animation-delay: 1
  }
  @keyframes  rotate-anticlockwise{
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(-360deg);
    }
  }
.h2{
    margin-left: 150px;
    margin-top: -120px;
    
    
}
.m2{

font-size: 30px;
margin-right:20px ;
font-family:'Great Vibes', cursive;
font-size: 40px;
color: #cca43b;
display: inline-block;
/* margin-bottom: 20px; */
margin-top: -50px;
}
.i2{
color: antiquewhite;
font-size: 20px;
margin-right:20px ;
margin-top: -20px;
}


.d3{
    
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 600px;
    margin-top: -10px;
    
}
.p3{
    margin-left: 180px;

}
.p3 img {
    width: 450px;
    height: auto;
    margin-top: -50px; 
    /* margin-bottom: 300px; */
    animation:rotate-on-scroll 20s linear infinite;
       animation-delay: 1
  }

  @keyframes rotate-on-scroll {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.h3{
    margin-left: 150px;
    margin-top: -80px;
    
    
}
.m3{

font-size: 30px;
margin-right:20px ;
font-family:'Great Vibes', cursive;
font-size: 40px;
color: #cca43b;
display: inline-block;
/* margin-bottom: 20px; */
margin-top: 170px;
}
.i3{
color: antiquewhite;
font-size: 20px;
margin-right:20px ;
margin-bottom: 30px;
display: inline-block;
margin-top: -50px;


}

.d4{
    
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 120px;
    /* margin-top: -60px; */
    margin-bottom: 100px
    
}
.p4{
    margin-left: 180px;
    
}
.p4 img {
    width: 500px;
    height: auto;
    margin-top: -100px; 
    /* margin-bottom: 300px; */
    animation:rotate-anticlockwise 20s linear infinite;
       animation-delay: 1;

  }

  @keyframes  rotate-anticlockwise{
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(-360deg);
    }
  }
.h4{
    margin-left: 150px;
    margin-top: -180px;
    
    
}
.m4{

font-size: 30px;
margin-right:20px ;
font-family:'Great Vibes', cursive;
font-size: 40px;
color: #cca43b;
display: inline-block;
/* margin-bottom: 20px; */
margin-top: -10px;
}
.i4{
color: antiquewhite;
font-size: 20px;
margin-right:20px ;
margin-top: -30px;

}


.image3{
height: 250px;
width: 250px;
margin-left: 50px;
}
.body{
    /* margin-top: -10px; */
    margin-top: 60px;  
}
.up{
    font-size: 7px;
    margin-top: -20px;
    margin-right: 200px;
}
.page2{
    margin-top: 200px;
    
}

.footer{
    margin-top: 100px;
    color: antiquewhite;
}
.h{
    margin-left: 100px;
    color: antiquewhite;
    margin-top: 50px;
    font-size: 20px;
}
.location{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: antiquewhite;
}
.address{
    margin-right: 50px;
}
.ul{
    margin-top: -30px;
    display: inline-block;
    margin-right: 50px;
}
.s{
    font-size: 40px;
    font-family:'Great Vibes', cursive;
    color: #cca43b;
}

.page2{
  
}
.header1{
   margin-left: 420px; 
   color: antiquewhite;
   margin-top: -50px;
 
}

.specialdish{

font-size: 25px;
color: antiquewhite;
display: flex; 
justify-content: space-evenly;
align-items:center;
margin-top: -20px;
}
.moretext h1{
  font-size: 50px;
  margin-left: 200px;
  color: antiquewhite;
  margin: 0.5px 0px 0px 100px;

}
.header1 p{
  font-size: 70px;
  margin-left: 230px;
  font-family:'Great Vibes', cursive;
  color: #cca43b;
  margin-top: -50px;
}
.special{
  margin-left: 160px;
  font-size: 50px;
  margin-top: -70px;
}
.bhee{
  margin-left: 140px;
  margin-top: -30px;
  font-size: 30px;
}
.specialdishimage img{
  width:500px;
  height: auto;
  animation:rotate-anticlockwise 20s linear infinite;
}

@keyframes rotate-anticlockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reservation-section {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust height as needed */
  overflow: hidden;
  margin-top: 80px;
}

.reservation-section img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.reservation-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: transparent;
}

.reservation-content h1 {
  font-size: 3rem;
  margin: 0;
  background-color: transparent;
  
}

.reservation-content p {
  font-size: 50px;
  margin: 10px 0 20px;
  background-color: transparent;
  font-family:'Great Vibes', cursive;
  color: #cca43b;
}

.reservation-content a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #ff6347;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.reservation-content a:hover {
  background-color: #e5533d;
}


